@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
}

body{

   overflow: auto;
   height: 100%;
}

.container{
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img1.jpg);
    background-size: cover;
    overflow: auto;
}


header{
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
   
   
    
}


.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;  
}

.cabeçalho-link a{
    color: black;
    font-size: 12px;
}

.cabeçalho-link a:hover{
    color:  rgb(4, 94, 41);
    transition: 0.3s all;
}

.logo i{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid rgb(4, 94, 41);
    color: rgb(4, 94, 41);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}


button{
    color: rgb(4, 94, 41);
    background: transparent;
    border:solid 1px rgb(4, 94, 41);
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    width: 150px;
}

button:hover{
    background-color: rgb(4, 94, 41);
    color: #fff;
    transition: 0.5s;
}

.btn{
    color: rgb(4, 94, 41);
    border: none;
    cursor: pointer;
}

.container-text{
    padding: 150px 0 0 130px;
    align-items: center;
    margin-bottom: 200px;
}

.text h2{
    color: white;
    font-size: 20px;
}

.text h1{
    color: black;
    margin-top: 10px;
}

.text span{
    color: rgb(4, 94, 41); 
}

.text p{
    color: white;
    font-weight: 500;
    margin-top: 10px;
    font-size: 20px;
}

footer {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3em;
    padding-top: 10px;
  }

  .redes-sociais a{
    color: rgb(4, 94, 41);
    padding: 10px;
    margin-top: 5px;
}


@media screen and (max-width:600px){
    .cabeçalho-link {
        display: none;
    }
    
}